<% provide(:title, '') %>
<div class="text-center jumbotron">
  <h1>Expen$e $hare </h1>
  <h4>"Friendship and money is like oil and water"</h4>
  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>
